a, a:visited {
    color: inherit;
}
body{

  text-align: center;
  font-family:  Helvetica; sans-serif;
}
.header {
  color: White;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#title{
  font-size: 70px;
}
.links{
  color: White;
  font-size: 18px;
}
#process{
  font-size: 32px;
}
.subtitle{
  font-size: 23px;
  font-weight: bold;
}
.text{
  font-size: 14px;
}
#location{
  color: White;
  background-image: url("../images/the-flatiron-building.png");
}
.footer{
  color: White;
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}
