body{
  color: black;
  text-align: center;
  font-family:  Helvetica; sans-serif;
  background-image: url("./resources/image//the-flatiron-building.png");
}
.header {
  background-image: url("./resources/image//the-flatiron-building.png");
}
#title{
  font-size: 70px;
}
#link{
  font-size: 18px;
}
